html{
  scroll-behavior: smooth;
}*

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, sans-serif;
  background: #151616;
  color: white;
}

/* Navbar */

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 10%;

  background: #1e293b;
}

.logo{
  font-size: 24px;
  font-weight: bold;
}

.nav-links{
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-links a{
  color: white;
  text-decoration: none;
}

/* Hero Section */

.hero{
  height: 90vh;

  display: flex;
  justify-content: space-between;
  align-items: center;

  text-align: left;

  padding: 30px;
  margin-left: 30px;
}

.hero h1{
  font-size: 60px;
}

.hero h2{
  margin-top: 10px;
  color: #38bdf8;
}

.hero p{
  margin-top: 20px;
  font-size: 18px;
}

.hero-image img{
  width: 350px;
  border-radius: 50%;
  border: 4px solid #38bdf8;
  margin-right: 70px;
}

button{
  margin-top: 20px;
  padding: 12px 25px;

  border: none;
  border-radius: 8px;

  background: #38bdf8;
  color: black;

  font-weight: bold;
  cursor: pointer;
}

/* Responsive */

@media(max-width:768px){

  nav{
    flex-direction: column;
    gap: 15px;
  }

  .hero h1{
    font-size: 40px;
  }

}
/* About Section */

.about{
  padding: 100px 10%;
  text-align: center;
}

.about h2{
  font-size: 40px;
  margin-bottom: 20px;
  color: #38bdf8;
}

.about p{
  max-width: 700px;
  margin: auto;
  font-size: 18px;
  line-height: 1.7;
}

/* Skills Section */

.skills{
  padding: 100px 10%;
  text-align: center;
}

.skills h2{
  font-size: 40px;
  margin-bottom: 40px;
  color: #38bdf8;
}

.skill-cards{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card{
  background: #1e293b;
  padding: 25px 40px;
  border-radius: 12px;
  font-size: 20px;
  transition: 0.3s;
}

.card:hover{
  transform: translateY(-10px);
  background: #38bdf8;
  color: black;
}